/* Center-align the text in the App class */
.App {
  text-align: center;
}

/* Define styling for the App logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Apply animation to the App logo only if prefers-reduced-motion is not set to reduce motion */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Style for the header section */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Style for links in the App */
.App-link {
  color: #61dafb;
}

/* Define a keyframe animation for spinning the App logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
