/* Signup.css */

.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0; /* Background color */
    border: 1px solid #ccc; /* Border style */
    border-radius: 10px; /* Border radius for rounded corners */
    padding: 20px; /* Padding inside the box */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3; /* Hover color for the button */
  }
  
  Input {
    margin-bottom: 10px;
  }
  
  /* Style for links */
  a {
    text-decoration: none;
    color: #007bff; /* Link color */
  }
  
  a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  